/* THN Global messages */
#thn-messages
{
    border: #FFCC01 1px solid;
    margin: 10px;
    padding: 5px;
    padding-top: 2px;
    background-color: #222222;
    color: #eeeeee;
}

#thn-messages h1
{
    font-size: 1.2em;
    color: #FF9933;
    text-decoration: underline;
    margin-bottom: 5px;
    font-weight: bold;
}

#thn-messages ul
{
    margin-bottom: 5px;
    padding: 0px;
}

#thn-messages li
{
    list-style-type: disc;
    margin-left: 2em;
    padding-left: 1em;
    text-indent: -1em;
}
